<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Кодировка документа -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Адаптивный дизайн -->
    <title>Object Detection API</title> <!-- Заголовок страницы -->
</head>
<body>
    <h1>Object Detection API</h1> <!-- Заголовок страницы -->
    <p>Добро пожаловать в API для обнаружения объектов!</p> <!-- Приветственное сообщение -->
    <a href="/api/items/">Посмотреть список предметов</a> <!-- Ссылка на список предметов API -->
</body>
</html>
